ion-content{
    --color: #FFF;
}
ion-item{
    --background: rgba(255, 255, 255, 0.548);
    --color: rgb(7, 7, 7);
    margin: 3px;
}
ion-button{
    --background: #dd7118e1;
    margin: 5%;
}
a{
    color: #fff;
}

#btnLogin {
    --background: #00fa0c;
    color: #000;

}