ion-content{
    --color: #FFF;
}

ion-item{
    --background: rgb(240, 235, 235);
    --color: #000;
}

ion-button{
    --background: #770a06;
    margin: 5%;
}

#btnSalvar{
    --background: #36e709;

}