<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Alertas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Alerta 2</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Camila Cunha em alerta 
    </ion-card-content>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Rua Sebastião Costa, próximo ao Supermercado União</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Alerta 3</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Karina Brandão em alerta 
    </ion-card-content>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Av Costa e Silva, próximo ao campo de futebol</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Alerta 3</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Luciana de Almeida em alerta 
    </ion-card-content>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Alfredo Neves, próximo à escola Santa Rita</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
  
  

  
</ion-content>

