<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">

      <ion-title class="title">
        <ion-img src="assets/icon/alert.png" class="imgIcon"></ion-img>
        <ion class="texto">
          Home
        </ion>
      </ion-title>
    </div>
    </ion-toolbar>
</ion-header>
<ion-content class="content">
  
  <div class="content">
    <ion-img src="assets/icon/megaFone.png" class="imgAlert"></ion-img>
    <ion-button class="botao-perigo"  color="danger" shape="round" size="large" fill="outline">Perigo</ion-button>
  </div>
</ion-content>
