<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title">
        <ion-img src="assets/icon/alert.png" class="imgIcon"></ion-img>
    </ion-title>
     <ion-div class="texto">
      Projeto Integrador
     </ion-div>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-div >
    <ion-img src="assets/icon/megaFone.png" class="imgAlert"></ion-img>
  <ion-button class="botao-perigo"  color="danger" shape="round" size="large" fill="outline">Perigo</ion-button>
  </ion-div>
</ion-content>


