ion-header {
    display: inline-block;
    align-content: center;
}

.texto{
    display: inline-block;
    font-size: 2em;
    margin-bottom: 0.5%;
}

.title {
    margin: 1%;
    display: inline-block;
}

.botao-perigo {
    min-width: 20%;
    min-height: 10%;
    position: absolute;
    top: 40%;
    left: 40%;
}

.imgIcon {
    
    display: inline-block;
    width: 50px;
    height: 50px;
}
.imgAlert {
    width: 15%;
    height: 15%;
    position: absolute;
    top: 20%;
    left: 42%;
}