<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">

      <ion-title class="title">
        <ion-img src="assets/icon/alert.png" class="imgIcon"></ion-img>
        <ion-label class="texto">
          Cadastro
        </ion-label>
      </ion-title>
    </div>
    </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">


<ion-card class="content">
  <ion-item>
    <ion-label position="floating">Nome:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefone:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Endereço:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Pessoa de confiança:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Telefone:</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
</ion-card>



</ion-content>
